/* GENERAL */

@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

@font-face {
  font-family: "h1";
  src: url('../fonts/amc/Dead Kansas.eot'),
 	url('../fonts/amc/Dead Kansas.woff2') format('woff2'),
 	url('../fonts/amc/Dead Kansas.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/amc/Dead Kansas.woff') format('woff'),
 	url('../fonts/amc/Dead Kansas.ttf') format('truetype'),
	url('../fonts/amc/Dead Kansas.svg#Dead Kansas') format('svg');
}

*
{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-size: 16px;
}

a:link, a:visited, a:active, a:hover, a:hover, a:focus
{
	text-decoration: none;
	list-style: none;
}

body{
	background-color: rgb(35, 35, 35)
}

.contenedor
{
	position: relative;
	margin: auto;
	width: 100%;
	height: auto;
	clear: both;
}

.filas
{
	position: relative;
	margin: auto;
	width: 100%;
	height: auto;
	clear: both;
}

.sub-nav{
	position: relative;
	font-size: 25px;
	color: white;
	margin: 35px auto;
	font-family: "h1";
	text-align: center;
	cursor: pointer;
}

h2{
	font-family: 'Slabo 27px', serif;
}

h3{
	font-family: 'Slabo 27px', serif;
}

h1{
	font-family: "h1";
	font-size: 50px;
	color: white;
}

h4{
	font-family: "h1";
	font-size: 45px;
	color: white;
	position: relative;
	margin: 25px 0px 8px 0px;
	text-align: center;
}

video{
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	left: 50%;
	transform: translateX(-50%);
	z-index: -2;
}

.social{
	position: fixed;
	left: 0;
	top: 35%;
	z-index: 1000;
}

.social ul{
	list-style: none;
	cursor: pointer;
}

.social ul li a{
	display: inline-block;
	color: white;
	background:  rgb(200, 187, 107);
	padding: 10px 15px;
	margin: 1px;
	text-decoration: none;
	transition: all 500ms ease;
}

.social ul li .icon-home3 {background:;}
.social ul li .icon-play {background:;}
.social ul li .icon-image {background:;}

.social ul li a:hover{
	padding: 15px 30px;
	background: black;
}

#rick{
	background-image: url(../img/rick.jpg);
}

#negan{
	background-image: url(../img/negan.jpg);
}

#daryl{
	background-image: url(../img/daryl.jpg);
}

#carl{
	background-image: url(../img/carl.jpg);
}

#maggie{
	background-image: url(../img/maggie.jpg);
}

#carol{
	background-image: url(../img/carol.jpg);
}

#michonne{
	background-image: url(../img/michonne.jpg);
}

#tara{
	background-image: url(../img/tara.jpg);
}

#rosita{
	background-image: url(../img/rosita.jpg);
}

#morgan{
	background-image: url(../img/morgan.jpg);
}

#gabriel{
	background-image: url(../img/gabriel.jpg);
}

#dwight{
	background-image: url(../img/dwigth.jpg);
}

#eugene{
	background-image: url(../img/eugene.jpg);
}

#video-title{
	position: absolute;
	margin: 4em 2em;
}


/*=========== 
FIN GENERAL 
============*/

/*========== 
DESKTOP */

@media (min-width:1200px){

header{
	position: fixed;
	background-color: rgb(18, 18, 18);
	height: 200px;
}

#logo1{
	
	height: 100px;
	background: url(../img/logo.png) no-repeat;
}

#logo2{
	
	height: 100px;
	background: url(../img/amc.png) no-repeat;
}

.espacio{
	height: 100px;
}

.actores{
	width: 23%;
	background-size: contain;
	height: 280px;
	margin: 0.4% 1%;
	border-radius: 5px;
}

.info
{
	position: relative;
	width: 100%;
	height: 280px;
	background-color: rgba(200, 187, 107, 0.8);
	opacity: 0;
	transition: opacity 1s;
	border-radius: 5px;
}

.actores:hover .info{
	opacity: 1;
	border-radius: 5px;
}

h2
{
	color: white;
	position: absolute;
	text-align: center;
	font-size: 2em;
	top: 0;
	left: 0;
	right: 0;
	transition-duration: 2s
}

.actores:hover h2
{
	top: 25px;
}

h3
{
	color: white;
	font-size:22px ;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0;
	transition-duration: 2s;
}

.actores:hover h3
{
	bottom: 40px;
}


}

/* FIN DESKTOP 
============*/

/*============ 
LAPTOP */

@media (max-width:1199px) and (min-width:992px) {
 

}

/* FIN LAPTOP 
============*/

/*============ 
TABLET */

@media (max-width:991px) and (min-width:768px) {
 

}

/* FIN TABLET 
============*/

/*============ 
PHONES */

@media (max-width:767px){
 


}

/* FIN PHONES 
============*/
